@import "../../../assets/css/common-style";
page-scenario {
  ion-step-header .ionic-step-header-icon{
    margin: 2vw;
    width: 5vh;
    height: 5vh;
    border-radius: 5vh;
    span{
      font-family: tw-regular;
      font-size: 2rem;
    }
  }
  .add-scenario{
    float: right;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-size: 4rem;
    color: $mito-orange-clr;
  }
  .scenario-edit{
    margin-top: 1.5vh;
    text-align: center;
    font-size: 2.6rem;
  }
  .scenario-delete{
    margin-top: 1vh;
    text-align: center;
    font-size: 2.8rem;
  }
  .content-title{
    color: $mito-orange-clr;
    font-size: 1.4rem;
  }
  .content-text{
    color: $light;
    font-size: 1.2rem;
  }
}
