<!--<div class="login-wrapper login-bg reset-pass">-->
    <!--<div class="login-logo row">-->
        <!--<img src="./assets/images/login/login-icon.png">-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="row" style="width: 100%;-->
    <!--margin-left: 0px;-->
    <!--margin-right: 0px;">-->
        <!--<form  style="width: 100%" >-->
            <!--<div class="col-lg-12">-->
                <!--&lt;!&ndash;<span   >کلمه عبور جدید:</span>&ndash;&gt;-->
                <!--<input class="form-control"-->
                       <!--type="password"-->
                       <!--[(ngModel)]="resetPassData.newPassword"-->
                       <!--(ngModelChange)="checkPassword( )"-->
                       <!--placeholder="کلمه عبور جدید"-->
                       <!--#newPass="ngModel"-->
                       <!--required minlength="4"-->
                       <!--name="newPass"/>-->
            <!--</div>-->
            <!--<div class="error-message-display">-->
                <!--<div [hidden]="newPass.valid || newPass.untouched">-->
                    <!--<div *ngIf="newPass.errors && newPass.errors.required">-->
                         <!--رمز عبور ضروری است-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div [hidden]="newPass.valid || newPass.untouched">-->
                    <!--<div *ngIf="newPass.errors && newPass.errors.minlength">-->
                        <!--رمز عبور نباید کمتر از 4 حرف باشد.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-12"  >-->
                <!--&lt;!&ndash;<span   >تایید کلمه عبور :</span>&ndash;&gt;-->
                <!--<input class="form-control"-->
                       <!--type="password"-->
                       <!--placeholder="تایید کلمه عبور"-->
                       <!--[(ngModel)]="resetPassData.confirmPassword"-->
                       <!--(ngModelChange)="checkPassword( )"-->
                       <!--#confirmPass="ngModel"-->
                       <!--required minlength="4"-->
                       <!--name="confirmPass"/>-->
                <!--<div class="error-message-display">-->
                    <!--<div [hidden]="confirmPass.valid || confirmPass.untouched">-->
                        <!--<div *ngIf="confirmPass.errors && confirmPass.errors.required" >-->
                           <!--تایید رمز عبور ضروری است.-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div [hidden]="confirmPass.valid || confirmPass.untouched">-->
                        <!--<div *ngIf="confirmPass.errors && confirmPass.errors.minlength">-->
                            <!--تایید رمز عبور نباید کمتر از 4 حرف باشد.-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div *ngIf="!passwordsMatched&&resetPassData.newPassword.length>=4&&resetPassData.confirmPassword.length>=4">-->
                        <!--کلمات عبور با هم یکی نیستند.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-12" >-->
                <!--&lt;!&ndash;<span   >ورود OTP:</span>&ndash;&gt;-->
                <!--<input class="form-control"-->
                       <!--type="text"-->
                       <!--placeholder="OTP"-->
                       <!--[(ngModel)]="resetPassData.otpToken"-->
                       <!--name="OTP"-->
                       <!--#OTP-->
                       <!--required-->
                <!--/>-->
                <!--<div class="error-message-display">-->
                    <!--<div [hidden]="OTP.valid || OTP.untouched">-->
                        <!--<div *ngIf="OTP.errors && OTP.errors.required">-->
                            <!--تایید رمز عبور ضروری است.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
          <!--<p style="margin-bottom: 6vw;margin-top: 5vh"> به ایمیل شما ارسال گردیده است<strong style="color: #f9961e"> OTP </strong></p>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-6">-->
                    <!--<button class="login-btn" (click)="submitPassword()">{{'login.submit'|translate}}</button>-->
                <!--</div>-->
                <!--<div class="col-lg-6">-->
                    <!--<button class="login-btn" (click)="cancel()">{{'login.cancel'|translate}}</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="col-lg-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="forgot-pass">{{'login.forget-password'|translate }}</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</form>-->
    <!--</div>-->

<!--</div>-->
<h1 style="color: white">reset password</h1>
